/* ahmed.css -- default style sheet */

body {
	margin: 0;
	padding: 0;
	color: black;
	background-color: white;
	font-family: arial,sans-serif;
	font-size: small;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

a:link {
	color: navy;
	text-decoration: none;
}

a:visited {
	color: maroon;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
	background-color: navy;
}

a:active {
	color: white;
	text-decoration: underline;
	background-color: maroon;
}

p {
	text-align:justify;
}

blockquote {
	text-align:justify;
}

div.nav {
	color: black;
	background-color: silver;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

table.home {
        color: black;
        background-color: white;
        font-size: small;
}

table.portfolio {
        color: black;
        background-color: white;
        font-size: small;
}

td.caption {
	color: black;
	background-color: white;
	font-size: small;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
}

div.footer {
	color: black;
	background-color: silver;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	font-size: x-small;
}

h1 {
	border-bottom: thick solid black;
}

h2, h3 {
	border-bottom: thin solid black;
}

div.container {
	margin: 0;
	padding: 0;
	width: 800px;
	text-align: left;
}

table.footer {
        color: black;
        background-color: silver;
        font-size: x-small;
}

p.justify {
	text-align: justify;
}